{% extends "base.html" %}

{% block content %}

<h3 class="index-h3">{{ tr(product.friendly_name) }}</h3>

<div class="epmain" id="download-page-intro">
    <div class="epimage">
        <img src="/static/images/{{ product.picture }}">
    </div>
	<div class="epdescription">
		<span>{{ tr(product.description) }}</span>
        <br>
        <br>
        <span>{{ tr(product.extended_description) }}</span>
		<br>
		<br>
        <div class="hilight-container">
            {% for hilight in product.hilights %}
                <div class="hilight">{{hilight}}</div>
            {% endfor %}
        </div>

	</div>
</div>


{% for software_name, software in all_software.items() %}

<div class="download-header-block">
  <img src="/static/ico/{{ software_type(software_name).icon }}">
  <h3 class="download-h3">  {{ tr(software_type(software_name).friendly_name) }}</h3>
</div>

<table>
    <tbody>
      <tr>
        <th>{{ tr(version) }}</th>
        <th>{{ tr(release_date) }}</th>
        <th>{{ tr(size) }}</th>
        <th>{{ tr(link) }}</th>
      </tr>
      {% for file in software %}
      <tr>
        <td class="td1">{{ file.version }}</td>
        <td class="td2">{{ file.date }}</td>
        <td class="td3">{{ file.size|filesizeformat }}</td>
        <td class="td4"><a href="{{ file.link }}">{{ file.basename }}</a></td>
      </tr>
      {% endfor %}

    </tbody>
</table>


{% endfor %}

{% endblock %}