{% extends "base.html" %}

{% block content %}

<h2 >{{ tr(product_name) }}</h2>

{% for software_name, software in software_types.items() %}

<h3 class="download-page-header">{{ tr(software_friendly_name(software_name)) }}</h3>

<table>
    <tbody>
      <tr>
        <th>{{ tr(version) }}</th>
        <th>{{ tr(release_date) }}</th>
        <th>{{ tr(size) }}</th>
        <th>{{ tr(link) }}</th>
      </tr>
      {% for file in software %}
      <tr>
        <td>{{ file.version }}</td>
        <td>{{ file.date }}</td>
        <td>{{ file.size }} Kb</td>
        <td><a href="{{ file.link }}">{{ tr(download) }}</a></td>
      </tr>
      {% endfor %}

    </tbody>
</table>


{% endfor %}

{% endblock %}