<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Verdant 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130924

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
            <!--TODO: optimization, more little logo.png-->
			<img src="/static/images/logo_big.png"/>
		</div>
		<div id="menu">
			<ul>
				<a href="#" accesskey="1" title="" class="header-lang-link">
					<img src="/static/ico/ru.svg" class="header-lang-icon" alt="Rus"/>
				</a>
				<a href="#" accesskey="2" title="" class="header-lang-link">
					<img src="/static/ico/gb.svg" class="header-lang-icon" alt="Eng"/>
				</a>
			</ul>
		</div>
	</div>
</div>
<div id="page-wrapper">
	<div id="page" class="container">

		<h2>EyePoint system</h2>

		<div id="intro-container">
			<img id="intro-image" src="/static/images/S1_lifestyle.jpg"/>
			<div id="intro-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>

		<div style="clear:both;"></div>

	<h2>All EyePoint systems</h2>

		<div class="epmain">
			<img src="/static/images/P10.png" class="epimage">
			<div class="epdescription">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br>
				<a href="#" class="button">More</a>
			</div>
		</div>

		<div class="epmain">
			<img src="/static/images/m10.png" class="epimage">
			<div class="epdescription">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br>
				<a href="#" class="button">More</a>
			</div>
		</div>

		<div class="epmain">
			<img src="/static/images/P10.png" class="epimage">
			<div class="epdescription">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br>
				<a href="#" class="button">More</a>
			</div>
		</div>

		<div class="epmain">
			<img src="/static/images/m10.png" class="epimage">
			<div class="epdescription">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				<br>
				<a href="#" class="button">More</a>
			</div>
		</div>

	</div>

</div>
<div id="footer" class="container">
	<div class="footer-block" id="footer-first-block">
		<img src="/static/ico/marker-32.png" class="footer-icon"/>
		<div class="footer-multiline">
			Россия, Москва, 119333<br>ул Фотиевой дом 5, строение 1
		</div>
	</div>
	<div class="footer-block">
		<img src="/static/ico/phone-18-32.png" class="footer-icon"/>
		+7(012)345-70-89
	</div>
	<div class="footer-block" id="footer-last-block">
		<img src="/static/ico/email-5-32.png" class="footer-icon"/>
		info@physlab.ru
	</div>
</div>
</body>
</html>
