{% extends "base.html" %}

{% block content %}

<div id="intro-container">
	<img id="intro-image" src="/static/images/S1_lifestyle.jpg"/>
	<div id="intro-text">
		{{ tr(intro) }}
	</div>
</div>

<img id="epsystems" src="/static/images/EPsystems{{lang}}.png">

<div style="clear:both;"></div>

{% for product in products %}
<hr/>
<div class="epmain">
	<a href="product/{{ product.name }}/" class="epimage">
		<img src="/static/images/{{ product.picture }}">
	</a>
	<div class="epdescription">
		<a href="product/{{ product.name }}/" class="index-h3">{{ tr(product.friendly_name) }}</a>
		<br>

		<span>{{ tr(product.description) }}</span>

		<br>
		<br>

		<ul>
			{% for tech in product.technical %}
			<li>{{ tr(tech) }}</li>
			{% endfor %}
		</ul>
		<div class="button-container">
			<a href="product/{{ product.name }}/" class="button">{{ tr(more) }}</a>
		</div>
	</div>
</div>

{% endfor %}


{% endblock %}