	html, body
	{
		height: 100%;
	}
	
	body
	{
		margin: 0px;
		padding: 0px;
		background: #458f0b;
		font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: rgba(255,255,255,0.6);
	}


	h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}

	p, ol, ul
	{
		margin-top: 0;
	}

	ol, ul
	{
		padding: 0;
		list-style: none;
	}

	p
	{
		line-height: 180%;
	}

	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 70vw;
		max-width: 1000px;
		min-width: 700px;
	}

/*********************************************************************************/
/* EyePoint intro
/*********************************************************************************/

    #intro-container
    {
        margin-bottom: 2em;
        margin-top: 1.00em;
        display: inline-block;
    }

    #intro-text
    {
        color: rgba(0,0,0,0.6);
    }

    #intro-image
    {
        width: 40vw;
        min-width: 300px;
        max-width: 500px;
        margin-right: 1em;
        float: left;
    }

/*********************************************************************************/
/* EyePoint photo with comment style
/*********************************************************************************/

    .epmain
    {
        display:         flex;

	    align-items: center;

        overflow: auto;
        color: rgba(0,0,0,0.6);
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .epdescription
    {
        flex-grow: 1;
        flex-shrink: 1.5;
        text-align: left;
    }



/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

    .epimage
    {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 17.75vw;
        max-width: 300px;
    }

	.image
	{
		display: inline-block;
	}

	.image img
	{
		display: block;
		width: 100%;
	}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		background: #458f0b;
		border-radius: 30px;
		letter-spacing: 0.20em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.70em;
		color: #FFF;
		align: right;
	}

	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		overflow: hidden;
		background: #458f0b;
		height: auto;
	}

	#header
	{
		overflow: hidden;
		position: relative;
		padding: 2.5em 0em;
	}

	.header-lang-link
	{
	    display: inline-block;
	    margin: 0px 5px 0px 5px;
	}

	.header-lang-icon
	{
	    opacity: 0.9;
	    width: 26px;
	    display: inline;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 0.5em;
		left: 0;
	}

	#logo h1
	{
		padding: 0.20em 0.50em;
		letter-spacing: 0.10em;
		font-size: 2.5em;
		font-weight: 600;
	}

	#logo img
	{
	    height: 65px;
	}

	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
	}

	#menu ul
	{
		display: inline-block;
	}

	#menu li
	{
		display: block;
		float: left;
		text-align: center;
	}

	#menu li a, #menu li span
	{
		padding: 1em 1.5em;
		letter-spacing: 0.10em;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.90em;
		color: #FFF;
	}

	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}

	#menu .current_page_item a
	{
		background: #41880a;
		border: 1px solid #3d7f0b;
		border-radius: 20px;
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page-wrapper
	{
		overflow: hidden;
		padding: 3em 0em 2em 0em;
		background: #FFF;
		min-height: 85%;
	}

	#page
	{
		text-align: left;
	}

	#page h2
	{
		text-transform: uppercase;
		font-size: 2.6em;
		font-weight: 300;
		color: rgba(0,0,0,0.9);
	}

	#page ul
	{
	    display: block;
        list-style-type: disc;
        margin-top: 0em;
        margin-bottom: 0 em;
        margin-left: 0;
        margin-right: 0;
        padding-left: 40px;
	}

	#page h3
	{
		/*text-transform: uppercase;*/
		font-size: 1.3em;
		font-weight: 300;
		color: rgba(0,0,0,0.9);
	}

	#page p
	{
		color: rgba(0,0,0,0.8);
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 1em 0em 1em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
		display: flex;
		justify-content: space-between;
        font-size: 0.80em;
	}


/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/
.footer-icon
{
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.footer-block
{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33%;  /* because here are 3 elements in footer*/
    text-align: center;
}

.footer-multiline
{
    display: inline-block;
    vertical-align: middle;
}

#footer-first-block
{
    text-align: left;
}

#footer-last-block
{
    text-align: right;
}

/*********************************************************************************/
/* Table (download page)                                                         */
/*********************************************************************************/
table {
  border-collapse: collapse;
  width: 100%;
  color: gray;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
    width: 25%;  /* because here are 4 columns */
}

tr:nth-child(even) {
  background-color: rgb(186, 226, 154);
}
